# Node
client/node_modules
client/npm-debug.log
client/yarn-error.log

# Angular
client/.angular/cache

# Go
server/tmp
server/bin

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

