.user-input-card {
    box-sizing: border-box;
    padding: 10px 10px 5px 5px;
}

.user-input-card-title {
    text-align: center;
}

.new-user-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.error-message {
    color: red;
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 500;
}